# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# Go
# -----------------------------
bin/
dist/
build/
*.test
*.out
*.coverprofile
coverage.out

# -----------------------------
# Local DB / Data
# -----------------------------
data/
*.db
*.sqlite
*.sqlite3

# -----------------------------
# Env files
# -----------------------------
.env
.env.*

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db
